<p> Hello </p>

<p> Thank you for registering with msgSmart! </p>

<p> You have requested signup and access to msgSmart application </p>

<p> In order to validate your email address you must click the following link and login </p>

<p> <%= @url %> </p>

<p>You will NOT be able to access msgSmart until you validate your email address</p>

<p>(This is an automated message. Please do not reply to this email.)</p>

<p>For more information contact msgSmart technical support <%= @mailid %></p>