<div style="height:20px; width:815px; float:right; ">
    <div class="hei">
    </div>
    <div class="red_text1a_bla">
        msgSMART 2012 <span class="red_text1a_red">  English (US)</span>
    </div>
    <div class="red_text1a_redbold">
        
    </div>
</div>
