<div class="head1">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td width="14%" align="left">
                    <a href="javascript:void(0);"><img border="0" src="/images/doc_logo.jpg"></a>
                </td>
                <td width="5%" class="header_text">
                    <%=link_to "Home",:controller => "home",:action => "index",:doctor_id => @doctor.id%>
                </td>
                <td width="8%" class="header_text">
                    <%=link_to "Profile",:controller => "profile",:action => "index",:doctor_id => @doctor.id %>
                </td>
                <!-- td width="4%" align="left" class="header_text">
                    <a href="javascript:void(0);">Group</a>
                </td -->
                <td width="40%" align="left">
                    <img height="42" width="58" src="/images/hipaa_logo.png">
                </td>
                <!-- td width="6%" class="header_text">
                    <a href="javascript:void(0);">Photo</a>
                </td>
                <td width="7%" class="header_text">
                    <a href="javascript:void(0);">Name</a>
                </td -->
                <!-- td width="8%" class="header_text">
                    <#%=link_to "Edit Profile", :controller => "profile", :action => "index", :doctor_id => @doctor.id %>
                </td -->
                <td width="5%" class="header_text">
                    <a href="/logout">Logout</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
