<!--  <div class="people" style="float:left;">
    People you may know
</div>
<div class="red_text1ab">
    <a href="#">See All</a>
</div>
<div class="line_h1">
</div>
<div class="right_tab1">
    <div class="hei">
    </div>
    <div class="left">
        <img src="images/doc6.jpg" />
    </div>
    <div class="red_text">
        &nbsp;&nbsp;Dr. Satish Verma <span class="close"><a href="#"><img src="/images/close.png" border="0" /></a></span>
    </div>
    <div class="hei">
    </div>
    <div class="red_text1">
        &nbsp;&nbsp;<img src="/images/add.png" /><a href="#"> Add as friend</a>
    </div>
</div>
<div class="right_tab1">
    <div class="hei">
    </div>
    <div class="left">
        <img src="images/doc7.jpg" />
    </div>
    <div class="red_text">
        &nbsp;&nbsp;Dr. Satish Verma <span class="close"><a href="#"><img src="images/close.png" border="0" /></a></span>
    </div>
    <div class="hei">
    </div>
    <div class="red_text1">
        &nbsp;&nbsp;<img src="images/add.png" /><a href="#"> Add as friend</a>
    </div>
</div>
<div style="float:left; width:200px;" class="people">
    Get Connected
</div>
<div class="line_h1">
</div>
<div style="height:30px; width:240px; float:left;">
    <div class="left">
        &nbsp;&nbsp;<img src="images/user5.jpg" />
    </div>
    <div class="black_text1">
        Who’s on Doctalk?
        <br/>
        <span class="red_text1"><a href="#">Find your friends</a></span>
    </div>
</div>
<div style="height:30px; width:240px; height:5px; float:left;">
</div>
<div style="height:30px; width:240px; float:left;">
    <div class="left">
        &nbsp;&nbsp;<img src="images/user6.jpg" />
    </div>
    <div class="black_text1">
        Who’s not on Doctalk?
        <br/>
        <span class="red_text1"><a href="#">Invite them now</a></span>
    </div>
    <div style="height:30px; width:240px; height:5px; float:left;">
    </div>
    <div style="height:30px; width:240px; float:left;">
        <div class="left">
            &nbsp;&nbsp;<img src="images/user7.jpg" />
        </div>
        <div class="black_text1">
            Who’s here because of you?
            <br/>
            <span class="red_text1"><a href="#">Track your invites</a></span>
        </div>
    </div>
    <div style="height:30px; width:240px; height:5px; float:left;">
    </div>
    <div style="height:30px; width:240px; float:left;">
        <div class="left">
            &nbsp;&nbsp;<img src="images/go.jpg" />
        </div>
        <div class="black_text1">
            Connect on the go
            <br/>
            <span class="red_text1"><a href="#">Try Doctalk Mobile</a></span>
        </div>
    </div>
</div>   -->
